---
---

@import "{{ site.theme }}";
footer > p > small {
    position: absolute;
    visibility: hidden;
  }
footer > p > small:before {
    content: "Copyright © 2023 Jake Wallace";
    visibility: visible;
}